<app-header titulo="Refresher"></app-header>


<ion-content class="ion-padding">
  <h2 class="animated fadeIn fast" *ngIf="items.length === 0">Carga hacia abajo para refrescar</h2>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="items.length > 0" class="animated fadeIn fast">
    <ion-item *ngFor="let item of items; let i = index;">
      Item {{ i + 1 }}
    </ion-item>

  </ion-list>
</ion-content>
