<app-header titulo="Fab page"></app-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon color="facebook" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon color="youtube" name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let dato of data; let i = index">
      Item {{ i + 1 }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="youtube">
    <ion-title> footer </ion-title>
  </ion-toolbar>
</ion-footer>