<app-header titulo="Card page"></app-header>

<ion-content>
  <!-- Asimila la vista en un IOS aunque estemos en android -->
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon name="pin" slot="start" color="light"></ion-icon>
      <ion-label> Marcador </ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim praesentium culpa expedita quia cupiditate omnis
      sequi quidem ipsam, ad temporibus, dolorum reiciendis rem recusandae aliquam ab, provident doloribus neque
      dolores!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi corporis temporibus quia fugiat fugit impedit
      inventore dolorem unde quidem culpa sit nobis atque quibusdam quisquam, mollitia, laboriosam cum! Nihil, nesciunt?
    </ion-card-content>
  </ion-card>

</ion-content>