<ion-menu side="start" menuId="primerMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let componente of componentes | async">
        <ion-item [routerLink]="componente.redirectTo">
        <ion-icon [name]="componente.icon" slot="start"></ion-icon>
        <ion-label> {{ componente.name }} </ion-label>
      </ion-item>
      </ion-menu-toggle>
    
      
    </ion-list>
  </ion-content>
</ion-menu>